In [18]:
import urllib.request 
import pandas as pd

my_data = 'https://raw.githubusercontent.com/Slimcent/Machine_Learning_Datasets/main/ML/credit_card_fraud.csv'

def download_read_data(path):
    
    """
    Function to retrieve data from the data paths
    And to read the data as a pandas dataframe
  
    To return the dataframe
    """ 
    # Only retrieve the directry of the data
    
    data_path =  urllib.request.urlretrieve(path)[0]
    data = pd.read_csv(str(data_path))

    return data

In [15]:
# Getting train data 

data = download_read_data(my_data)

In [17]:
# first five rows of the data

data.head(5)

,count,creditCard,day,dayOfWeek,max,mean,min,month,var,year
0,4,1003715054175570,1,THURSDAY,818.47,9.252425,69.77,October,3.777665,2015
1,7,1003715054175570,10,SATURDAY,127.35,7.670590,20.43,October,3.248470,2015
2,3,1003715054175570,12,MONDAY,99.12,9.627481,83.49,October,5.075432,2015
3,2,1003715054175570,13,TUESDAY,140.56,14.205581,77.99,October,0.000000,2015
4,2,1003715054175570,15,THURSDAY,174.19,4.207162,41.12,October,0.000000,2015